  <nav class="navbar navbar-light bg-light justify-content-between">
    <div class="container d-flex">
      <a class="navbar-brand">Navbar</a>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search"
        placeholder="Search" aria-label="Search" name="state">
        <button class="btn btn-outline-success my-2 my-sm-0"
        type="submit">Search</button>
      </form>
    </div>
  </nav>

<div class="my-3">
    <%= link_to 'Home', :root, class: "btn btn-primary" %>
</div>

<table class="table">
<tr>
    <th>Name</th>
    <th>Description</th>
    <th>Starting date</th>
    <th>Finishing date</th>
    <th>State</th>
</tr>
    <% @users.each do |user| %>
        <tr>
            <td><%= user.name %></td>
            <td><%= user.description %></td>
            <td><%= user.date_start %></td>
            <td><%= user.date_finish %></td>
            <td><%= user.state %></td>
        </tr>
    <% end %>
</table>
